---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page not found">
  <h1>404</h1>
  <p class="lede">That page does not exist.</p>
  <p><a href="/">Go back home</a></p>
</BaseLayout>
